<section id="contact">
    <div class="intro-container">
        <h3 class="introTitle">{{ 'contact.introTitle' | translate }}</h3>
        <h2 class="title">{{ 'contact.title' | translate }}</h2>

        <div class="intro-question-container">
            <h3 class="intro-question">{{ 'contact.introQuestion' | translate }}</h3>
            <p class="introText">{{ 'contact.introText1' | translate }}</p>
            <p class="introText">{{ 'contact.introText2' | translate }} <span>{{ 'contact.spanText' | translate }}</span></p>
        </div>
    </div>

    <form class="form-container" novalidate (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    
        <div class="inputContainer" (click)="focusInput(nameElement)">
            <label for="inputName">{{ 'contact.inputName.label' | translate }}</label>
            <input 
                required 
                [(ngModel)]="contactData.name" 
                #name="ngModel" 
                #nameElement 
                name="name" 
                placeholder="{{ 'contact.inputName.placeholder' | translate }}" 
                (blur)="restorePlaceholder(nameElement, translate.instant('contact.inputName.error'))"> <!-- Verwende translate.instant -->

            <ng-container *ngIf="!name.valid && !name.disabled && submitted == true">
                <span class="error-message">{{ 'contact.inputName.errorMessage' | translate }}</span>
            </ng-container>
        </div>
    
        <div class="inputContainer" (click)="focusInput(emailElement)">
            <label for="inputEmail">{{ 'contact.inputEmail.label' | translate }}</label>
            <input 
                required 
                [(ngModel)]="contactData.email" 
                #email="ngModel" 
                #emailElement 
                name="email" 
                type="email" 
                placeholder="{{ 'contact.inputEmail.placeholder' | translate }}" 
                (blur)="restorePlaceholder(emailElement, translate.instant('contact.inputEmail.error'))" 
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

            <ng-container *ngIf="!email.valid && !email.disabled && submitted == true">
                <span class="error-message">{{ 'contact.inputEmail.errorMessage' | translate }}</span>
            </ng-container>
        </div>
    
        <div class="inputContainer" (click)="focusTextarea(messageTextAreaElement)">
            <label for="inputMessage">{{ 'contact.inputMessage.label' | translate }}</label>
            <textarea 
                required 
                [(ngModel)]="contactData.message" 
                #message="ngModel" 
                minlength="4" 
                #messageTextAreaElement 
                name="message" 
                placeholder="{{ 'contact.inputMessage.placeholder' | translate }}" 
                (blur)="restorePlaceholderForMessage(messageTextAreaElement, translate.instant('contact.inputMessage.error'))">
            </textarea>

            <ng-container *ngIf="!message.valid && !message.disabled && submitted == true">
                <span class="error-message">{{ 'contact.inputMessage.errorMessage' | translate }}</span>
            </ng-container>
        </div>
    
        <div class="check-box-and-error">
            <div class="checkboxContainer">
                <input 
                    id="customCheckbox" 
                    type="checkbox" 
                    required 
                    [(ngModel)]="contactData.checkboxChecked" 
                    #checkbox="ngModel" 
                    name="privacyPolicy">
                <label for="customCheckbox">{{ 'contact.privacyPolicy.labelPartOne' | translate }}<a href="#">{{ 'contact.privacyPolicy.privacyPolicyLink' | translate }}</a>{{ 'contact.privacyPolicy.labelPartTwo' | translate }}</label>
            </div>
            <ng-container *ngIf="submitted == true && checkbox.invalid">
                <span class="error-message-for-checkbox">
                    {{ 'contact.privacyPolicy.errorMessage' | translate }}
                </span>
            </ng-container>                
        </div>

        <div class="button-container">
            <button type="submit" class="fill">{{ 'contact.submitButton' | translate }}</button>
        </div>
    
    </form>
</section>
