$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
  $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

  @if $max-width {
    @media (max-width: $max-width) {
      @content; // Die Inhalte, die in das Mixin übergeben werden
    }
  }
}

section{
    height: auto;
    display: flex;
    gap: 96px;    
    padding: 40px 112px 144px 112px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    @include respond-to(large) {
      padding: 40px 64px 100px 64px;
      align-items: center;
      gap: 64px;
    }
    @include respond-to(medium) {
      padding: 40px 32px 100px 32px;
      flex-direction: column;
      align-items: center;
    }
    @include respond-to(small) {
      padding: 40px 16px 100px 16px;
      gap: 40px;
      overflow: hidden;
    }
}

@keyframes rotateBubble {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
.blurBubble {
    background-color: white;
    height: 28vmax;
    aspect-ratio: 1;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #37ffe1, #4cffe1);
    animation: rotateBubble 20s infinite;
    opacity: 0.2;
    filter: blur(10vmax);
    left: 0;
    position: absolute;
    z-index: -1;
    @include respond-to(medium){
      height: 100vmax;
      translate: -100% -50%;
      opacity: 0.15;
    }
}


.intro-title{
color: #3dcfb6;
font-size: 1.6rem;
margin-bottom: 20px;
letter-spacing: 3px;
@include respond-to(small) {
  font-size: 18px;
}
}   

.description-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

.description-container{
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: rgba(61, 207, 183, 0.10);
    border: 1px solid #3dcfb6;
    border-radius: 30px;

    @include respond-to(medium) {
      padding: 27px 32px 27px 32px;
    }

    .subtitle {
        font-size: 4.3rem;
        font-family: 'Fira Code';
        font-weight: 700;
        color: #3dcfb6;
        margin: 0;
        
        @include respond-to(medium) {
          font-size: clamp(56px, 2.2em, 64px);

        }
        @include respond-to(small) {
          font-size: clamp(28px, 2em, 64px);
        }
    }
} 

.contactButtonContainer{
  margin-top: 40px;
  @include respond-to(medium) {
    margin: 32px 0px 0px 0px;
  }
}
    
.question{
    font-size: 24px;
    font-family: 'Fira Code';
    color: white;
    margin-top: 24px;
    span{
        color: #3dcfb6;
    }
}

.description-text{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 0px;
}

.answer{
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}



// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Button //
$colors: (
  fill: #3dcfb6,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #3dcfb6;
  }
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #FFFFFF;
    cursor: pointer;
  }
}
  
body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 1.6em;
  cursor: pointer;
  border-radius: 100px;
  font-size: 18px;
  width: 160px;
}

h1 { font-weight: 400; }

code { 
  color: #3dcfb6;
  font: inherit;
}

.icon{
    @include respond-to(small) {
      max-width: 56px; 
      max-height: 56px;
  }
}

.icon-section{
    display: flex;
    width: 100%;
    max-width: 732px;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 40px;
    height: 100%;
    margin-top: 72px;
    @include respond-to(medium) {
      column-gap: 40px;
      row-gap: 30px;
      justify-content: center;
      margin-top: 0px;
    }
    @include respond-to(small) {
      column-gap: 20px;
      row-gap: 20px;
    }

}

svg{
    transition: transform 0.2s ease-in-out;
}
.color-effekt{
    transition: color 0.2s ease-in-out;
}


  
.icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: fit-content;
    text-align: center;

    p {
        font-size: 18px;
        font-family: 'Fira Code';

        @include respond-to(small){
          font-size: 16px;
        }
    }



    &:hover {
        .icon{
            transform: scale(1.2);
            @include respond-to(small) {
              width: 56px;
              height: 56px;
            }
        }
        .color-effekt{
            color: #37ffe1;
        }
    }
}


.popUp-wrapper{
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: 2;  
  transition: opacity 100ms ease-in-out, visibility 100ms ease-in-out,  transform 100ms ease-in-out;
}

.popUp{
    position: absolute;
    transform: translate(-24%, -95%);
    color: #3dcfb6;
    z-index: 4;
    background-color: white;
    height: auto;
    width: 180px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    p{
      position: relative;
      z-index: 7;
      font-family: 'Karla';
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
    }    

    .react-and-vue-icon{
      position: relative;
      z-index: 7;
    }

    .white-triangle{
      position: absolute;
      bottom: -14px;
      left: 30px;
    }

}


.growth-wrapper{
  
    &:hover{

      .popUp-wrapper{
        visibility: visible;
        opacity: 1;
        transform: scale(1.2);
        z-index: 2;        
      }

    }
}
