$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

    @if $max-width {
      @media (max-width: $max-width) {
        @content; // Die Inhalte, die in das Mixin übergeben werden
      }
    }
}

section{
    position: relative;
    height: auto;
    display: flex;
    padding: 0px 112px 144px 112px;
    box-sizing: border-box;
    justify-content: space-between;


    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(large) {
        padding: 0px 64px 144px 64px;
        justify-content: center;
        align-items: center;
      }
    @include respond-to(medium) {
        padding: 0px 32px 100px 32px;
        width: 100%;
      }
    @include respond-to(small) {
        padding: 0px 16px 100px 16px;
    }
}

.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1450px;
    @include respond-to(medium) {
        max-width: 700px;
    }
}

.subtitle{
    font-size: 4.3rem;
    font-family: "Fira Code";
    font-weight: 700;
    color: #3dcfb6;
    margin: 0;
    @include respond-to(medium) {
        font-size: clamp(56px, 2.4em, 64px);
    }
    @include respond-to(small) {
        font-size: clamp(28px, 2em, 64px);
    }
}

.intro-line{
    font-size: 18px;
    font-weight: 300;
    width: 60%;
    margin: 41px 0px 41px 0px;
    text-align: justify;
    display: flex;
    justify-content: start;
    @include respond-to(medium) {
        width: 100%;
    }
    @include respond-to(small) {
        font-size: 16px;
        margin: 24px 0px 32px 0px;
    }
}

.content-section{
    display: flex;
    justify-content: space-between;
    gap: 5vmax;
    @include respond-to(large) {
        gap: 9.5vmax;
    }
}

.button-section{
    flex: 1;
}

.project-container{
    padding: 42px 30px 42px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    font-size: 18px;
    border-bottom: 1px solid #3dcfb6;
    font-weight: 300;
    word-spacing: 1px;
    transition: background-color 0.125s ease-in-out;
    box-sizing: border-box;


    @include respond-to(small) {
        padding: 42px 0px 42px 0px;
        flex-direction: column;
        align-items: start;
        h3{
            padding-bottom: 8px;
        }
    }

    p, h3 {
        margin: 0px;
    }

    span{
        color: #3dcfb6;
    }

    &:hover {
        background-color: #3DCFB64D;
        cursor: pointer;
        svg{
            opacity: 1;
        }
    }
}

.seperator {
    color: #3dcfb6 !important;
}

.border-top-line{
    border-top: 1px solid #3dcfb6;
}


.project-title-and-svg{
    display: flex;
    align-items: center;
    gap: 16px;


    h3{
        font-size: 24px;
        font-weight: 700;
        font-family: 'Fira Code';
    }

    svg{
        opacity: 0;
        transition: opacity 0.125s ease-in-out;
    }

}

.intro-title{
    color: #3dcfb6;
    font-size: 1.6rem;
    margin-bottom: 20px;
    letter-spacing: 3px;
    @include respond-to(small) {
        font-size: 18px;
    }
}

.image-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    margin-top: -24px;

    @include respond-to(large) {
        overflow: hidden;
          
    }
    @include respond-to(medium) {
        display: none;      
    }
}


.img-and-svg-container{
    position: relative; 
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.125s ease-in-out;

    img{
        width: 296px;
        height: 192px;
        position: absolute;
        z-index: 1;
        border-radius: 24px;
        object-fit: cover;
    }
    svg{
        width: 296px;
        height: 192px;
        position: relative;
        left: 24px;
        top:20px;
    }
}


.translateY--45{
    transform: translateY(-45%);
}

.translateY--90{
    transform: translateY(-90%);
}