$breakpoints: (
  small: 600px,
  smallMedium: 1000px,
  medium: 1150px,
  large: 1400px,
  XL: 2060px,
  XXL: 2500px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); 

    @if $max-width {
      @media (max-width: $max-width) {
        @content; 
      }
    }
}

@mixin respond-to-maxHeight($breakpoint) {
    $max-height: map-get($breakpoints, $breakpoint); 

    @if $max-height {
      @media (max-height: $max-height) {
        @content; 
      }
    }
}

@mixin respond-to-min($breakpoint) {
    $min-width:map-get($breakpoints, $breakpoint);
  
    @if $min-width {
      @media (min-width: $min-width) {
        @content; 
      }
    }
  }

section{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 6%;
    @include respond-to(large) {
        padding: 0px 64px 144px 64px;
    }
    @include respond-to(medium) {
        padding: 0px 32px 100px 32px;
    }
    @include respond-to(small) {
        padding: 0px 16px 100px 16px;
    }
}

.title{
    font-size: 2.2rem;
    color: #3dcfb6;
    font-family: 'Fira Code';
    margin: 0px;
    text-align: center;
    margin-bottom: 48px;
    @include respond-to(medium) {
        font-size: 24px;
        margin-bottom: 32px;
    }
}

.slide-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




.comment, span {
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    margin: 0px;
    line-height: 1.2;
    
    @include respond-to(medium) {
        line-height: unset;
    }
}

.comment {
    @include respond-to(medium) {
        font-size: 18px;
        align-self: center;
        padding-bottom: 16px;
        box-sizing: border-box;
    }
    @include respond-to(small) {
        font-size: clamp(16px, 1rem, 18px);
        align-self: center;
        padding-bottom: 16px;
        box-sizing: border-box;
    }
}

.testimonial-wrapper{
    height: 30vh;
    max-height: 360px;
}

.testimonial-container {
    max-width: 800px;
    max-height: 320px;
    text-align: justify;
    padding: 40px;
    width: 45vw;
    height: 30vh;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #3dcfb6;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    @include respond-to(large) {
        height: 35vh;
        width: 52.5vw;
        padding: 40px;
        display: grid;
    }
    @include respond-to(medium) {
        height: 40vh;
        width: 60vw;
        padding: 40px;
    }
    @include respond-to(small) {
        height: 60vh;
        width: 80vw;
        padding: 32px;
    }
}

.fade {
    opacity: 0.05;
    z-index: 0;
    transform: scale(0.7);
}

.previous {
    background-color: #3DCFB61A;
    left: 0;
    transform: translateX(-50%) scale(0.9);
    z-index: 0;
    @include respond-to(large) {
        transform: translateX(-80%);
    }
    @include respond-to(medium) {
        transform: translateX(-85%);
    }
    @include respond-to(small) {
        transform: translateX(-100%);
    }
}

.current {
    background-color: #3DCFB64D;
    transform: scale(1);
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.next {
    background-color: #3DCFB61A;
    left: 100%;
    transform: translateX(-50%) scale(0.9);
    z-index: 0;
    @include respond-to(large) {
        transform: translateX(-20%);
    }
    @include respond-to(medium) {
        transform: translateX(-15%);
    }
    @include respond-to(small) {
        transform: translateX(0%);
    }
}

.colored{
    color: #3dcfb6;
}

.name-container{
    display: flex;
    align-items: center;
    gap: 4%;

    .white-line{
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.509);
        border-radius: 50px;
    }
    span{
        white-space: nowrap;
        @include respond-to(small) {
            font-size: 16px;
        }
    }
    @include respond-to(medium) {
        align-items: center;
    }
}

.quotes{
    top: 5%;
    font-size: 120px;
    position: absolute;
    left: 23%;
    transform: translate(50%, 50%);
    z-index: 2;
    @include respond-to-min('XL') {
        left: 30%;
    }
    @include respond-to-min('XXL') {
        left: 33%;
    }
    @include respond-to(large) {
        left: 20%;
        top: 5%;
    }
    @include respond-to(medium) {
        left: 12%;
        top: 4%;
        height: 48px;
    }
    @include respond-to(small) {
        left: -32px;
        top: 8%;
    }
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    @include respond-to(large) {
        margin-top: 80px;
    }
    @include respond-to-maxHeight('smallMedium') {
        @include respond-to(small) {
            margin-top: 140px;
        }
    }

    span{
        font-size: 3rem;
        margin-bottom: 5px;
    }

    button {
        user-select: none; /* Verhindert die Textmarkierung */
        -webkit-user-select: none; /* Für Safari */
        -ms-user-select: none; /* Für ältere Versionen von Internet Explorer */
      }




    .forthArrowContainer {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 19px;

        &:hover{
            cursor: pointer;
        }
    
        .forthArrow {
            transition: transform 0.125s ease-in-out, filter 0.1s ease-in-out;
        }
    
        &:hover {
            .forthArrow {
                filter: brightness(0) saturate(100%) invert(74%) sepia(9%) saturate(3080%) hue-rotate(118deg) contrast(71%);
                cursor: pointer;
                transform: translateX(50%);
            }
        }
    }
    

    .backArrowContainer {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 19px;

        &:hover{
            cursor: pointer;
        }
    
        .backArrow {
            transition: transform 0.125s ease-in-out, filter 0.1s ease-in-out;
        }
    
        &:hover {
            .backArrow {
                filter: brightness(0) saturate(100%) invert(74%) sepia(9%) saturate(3080%) hue-rotate(118deg) contrast(71%);
                cursor: pointer;
                transform: translateX(-50%);
            }
        }
    }
}

.leftFadeBar{
    position: absolute;
    left: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background: linear-gradient(to left, rgb(27 27 27 / 0%) 0%, rgb(27 27 27) 100%),;    
    z-index: 1;
    @include respond-to(large) {
        width: 22.5%;
    }
    @include respond-to(small) {
        top: 6vh;
        height: 80%;
        width: 12.5%;
    }
}

.rightFadeBar{
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background: linear-gradient(to right, rgb(27 27 27 / 0%) 0%, rgb(27 27 27) 100%);    
    z-index: 1;
    @include respond-to(large) {
        width: 22.5%;
    }
    @include respond-to(small) {
        top: 6vh;
        height: 80%;
        width: 12.5%;
    }
}
