$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

    @if $max-width {
      @media (max-width: $max-width) {
        @content; // Die Inhalte, die in das Mixin übergeben werden
      }
    }
}

.about-me-section {
    box-sizing: border-box;
    display: flex;
    padding: 144px 112px 144px 112px;
    align-items: center;
    justify-content: center;
    gap: 144px;
    z-index: 1;
    position: relative;

    @include respond-to(large) {
        padding: 100px 64px 100px 64px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    @include respond-to(medium) {
        padding: 100px 32px 100px 32px;
        flex-direction: column;
        gap: 40px;
    }

    @include respond-to(small) {
        padding: 100px 16px 100px 16px;
        flex-direction: column;
    }



    .img-and-svg-container{
        height: auto;
        width: 100%;
        max-width: 600px;
        
        @include respond-to(large){
            position: relative;
            width: fit-content;
        }

        .imgWrapper{
            display: flex;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;

            img{
                width: 100%;
                max-width: 600px;
                height: auto;
                z-index: 1;
                position: absolute;
                border-radius: 30px;
                transform: translate(8%, -6%);
                
                @include respond-to(large){
                    max-width: 400px;
                    transform: translate(8%, 19%);
                }
                @include respond-to(medium) {
                    position: relative;
                    transform: translate(0%, 0%);
                }
            }        
        }

        svg{
            height: 600px;
            width: 100%;
            z-index: 0;
            position: relative;
            border-radius: 40px;
            @include respond-to(large) {
                max-width: 400px;
            }
            @include respond-to(medium) {
                display: none;
            }
        }
    }
}


    .aboute-me-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
    width: 100%;
    max-width: 600px;
    height: 100%;
    @include respond-to(large) {
        justify-content: unset;
    }

        .description-container{
            padding: 32px;
            display: flex;
            flex-direction: column;
            background-color: rgba(61, 207, 183, 0.10);
            border: 1px solid #3dcfb6;
            border-radius: 30px;
            @include respond-to(large) {
                padding: 32px 64px 32px 64px;
            }
            @include respond-to(medium) {
                padding: 24px 32px 24px 32px;
            }
            @include respond-to(small) {
                padding: 27px 32px 27px 32px;
            }
        
            .subtitle {
                font-size: 4.3rem;
                font-family: 'Fira Code';
                font-weight: 700;
                color: #3dcfb6;
                margin: 0;
                @include respond-to(small) {
                    font-size: clamp(42px, 2.6em, 64px);
                    letter-spacing: -3%;
                    line-height: 44.8px;
                }
            }
        }    
        
        .intro-title{
        color: #3dcfb6;
        font-size: 1.6rem;
        margin-bottom: 20px;
        letter-spacing: 3px;
            @include respond-to(large) {
            margin-top: 0px;
            }
            @include respond-to(small) {
            font-size: 18px;
            }
        }    

        .description-content-container{
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: justify;

            .description-text{
                font-size: 18px;
                font-weight: 300;
                @include respond-to(small) {
                    font-size: 16px;
                }
            }        

            .single-content{
                display: flex;
                align-items: space-between;
                gap: 1vw;
                text-align: justify;
                @include respond-to(small) {
                    gap: 16px;
                }

                svg{
                    width: 32px;
                    height: auto;
                    @include respond-to(small) {
                        width: 28px;
                    }
                }

                p{
                    font-weight: 200;
                    font-size: 18px;
                    margin: 0;

                    @include respond-to(small) {
                        font-size: 16px;
                    }
                }
            }

    
        }

    }

