$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
  $max-width: map-get($breakpoints, $breakpoint);

  @if $max-width {
    @media (max-width: $max-width) {
      @content; 
    }
  }
}


section{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 144px 112px 144px 112px;
    box-sizing: border-box;
    width: 75%;
    max-width: 1024px;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    @include respond-to(large) {
        padding: 144px 64px 144px 64px;
        width: 100%;
      }
    @include respond-to(medium) {
        padding: 100px 32px 100px 32px;
      }
    @include respond-to(small) {
        padding: 100px 16px 100px 16px;
    }
}

a{
    color: #3dcfb6;
    text-decoration: none;

    &:hover{
        color: white;
    }
}

h1, h2, h3 {
    color: #3dcfb6;
    font-family: 'Fira Code';
    font-weight: 700;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2rem;
    color: #3dcfb6;
    font-family: 'Fira Code';
}

h3{
    font-size: 1.6rem;
    color: #3dcfb6;
    font-family: 'Fira Code';
}

h4{
    font-size: 1.2rem;
    color: #3dcfb6;
}

p, li {
    font-size: 18px;
    font-weight: 200;
}