<section>
    <h1>{{ 'privacyPolicy.privacy_policy_title' | translate }}</h1>
    <h2>{{ 'privacyPolicy.overview_title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.general_info_title' | translate }}</h3>
    <p>{{ 'privacyPolicy.general_info_text' | translate }}</p>
    <h3>{{ 'privacyPolicy.data_collection_title' | translate }}</h3>
    <h4>{{ 'privacyPolicy.responsible_party_title' | translate }}</h4>
    <p>{{ 'privacyPolicy.responsible_party_text' | translate }}</p>
    <h4>{{ 'privacyPolicy.data_collection_method_title' | translate }}</h4>
    <p>{{ 'privacyPolicy.data_collection_method_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.data_collection_method_text2' | translate }}</p>
    <h4>{{ 'privacyPolicy.data_usage_title' | translate }}</h4>
    <p>{{ 'privacyPolicy.data_usage_text' | translate }}</p>
    <h4>{{ 'privacyPolicy.user_rights_title' | translate }}</h4>
    <p>{{ 'privacyPolicy.user_rights_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.user_rights_text2' | translate }}</p>
    <p>{{ 'privacyPolicy.user_rights_text3' | translate }}</p>
    <p>{{ 'privacyPolicy.user_rights_text4' | translate }}</p>
    <p>{{ 'privacyPolicy.user_rights_text5' | translate }}</p>
    
    <h2>{{ 'privacyPolicy.hosting_title' | translate }}</h2>
    <p>{{ 'privacyPolicy.hosting_intro_text' | translate }}</p>
    <h3>{{ 'privacyPolicy.hosting_provider_title' | translate }}</h3>
    <p>{{ 'privacyPolicy.hosting_provider_text' | translate }} <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">{{ 'privacyPolicy.hosting_provider_link' | translate }}</a>.</p>
    <p>{{ 'privacyPolicy.hosting_use_text' | translate }}</p>
    
    <h2>{{ 'privacyPolicy.general_info_title_2' | translate }}</h2>
    <h3>{{ 'privacyPolicy.data_protection_title' | translate }}</h3>
    <p>{{ 'privacyPolicy.data_protection_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.data_protection_text2' | translate }}</p>
    <p>{{ 'privacyPolicy.data_protection_text3' | translate }}</p>
    <h3>{{ 'privacyPolicy.responsible_authority_title' | translate }}</h3>
    <p>{{ 'privacyPolicy.responsible_authority_name' | translate }}<br />
    {{ 'privacyPolicy.responsible_authority_address_line1' | translate }}<br />
    {{ 'privacyPolicy.responsible_authority_address_line2' | translate }}</p>

    <p>{{ 'privacyPolicy.phone_label' | translate }}: +49 15734434856<br />
    {{ 'privacyPolicy.email_label' | translate }}: info.m.kraemer&#64;gmail.com</p>
    <p>{{ 'privacyPolicy.responsible_entity_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.storage_duration_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.storage_duration_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.general_legal_basis_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.general_legal_basis_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.recipients_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.recipients_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.consent_revocation_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.consent_revocation_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.objection_rights_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.objection_rights_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.objection_rights_text2' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.complaint_right_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.complaint_right_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.data_portability_right_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.data_portability_right_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.access_correction_deletion_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.access_correction_deletion_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.processing_restriction_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.processing_restriction_text_intro' | translate }}</p>
    <ul> 
        <li>{{ 'privacyPolicy.processing_restriction_case1' | translate }}</li>
        <li>{{ 'privacyPolicy.processing_restriction_case2' | translate }}</li>
        <li>{{ 'privacyPolicy.processing_restriction_case3' | translate }}</li>
        <li>{{ 'privacyPolicy.processing_restriction_case4' | translate }}</li>
    </ul>
    <p>{{ 'privacyPolicy.processing_restriction_text' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.ssl_tls_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.ssl_tls_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.ssl_tls_text2' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.advertising_email_objection_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.advertising_email_objection_text' | translate }}</p>
    
    <h2>{{ 'privacyPolicy.data_collection_title' | translate }}</h2>
    
    <h3>{{ 'privacyPolicy.server_log_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.server_log_text' | translate }}</p>
    <ul> 
        <li>{{ 'privacyPolicy.server_log_browser' | translate }}</li>
        <li>{{ 'privacyPolicy.server_log_os' | translate }}</li>
        <li>{{ 'privacyPolicy.server_log_referrer' | translate }}</li>
        <li>{{ 'privacyPolicy.server_log_hostname' | translate }}</li>
        <li>{{ 'privacyPolicy.server_log_time' | translate }}</li>
        <li>{{ 'privacyPolicy.server_log_ip' | translate }}</li>
    </ul>
    <p>{{ 'privacyPolicy.server_log_conclusion' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.contact_form_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.contact_form_text1' | translate }}</p>
    <p>{{ 'privacyPolicy.contact_form_text2' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.contact_request_title' | translate }}</h3> 
    <p>{{ 'privacyPolicy.contact_request_text' | translate }}</p>
    
    <p>{{ 'privacyPolicy.source_text' | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
        
</section>