$breakpoints: (
  small: 600px,
  medium: 900px,
  large: 1200px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

    @if $max-width {
      @media (max-width: $max-width) {
        @content; // Die Inhalte, die in das Mixin übergeben werden
      }
    }
}

.hero-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(25deg, rgba( 27, 27, 27, 1) 40%, rgba(8,70,59,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @include respond-to(small) {
      background: linear-gradient(75deg, rgba( 27, 27, 27, 1) 40%, rgba(8,70,59,1) 100%);
    }
    
    h3{
        font-family: 'Fira Code';
        font-weight: 300;
        font-size: clamp(40px, 3vw, 80px);
        margin-bottom: 12px;
        margin-top: 0px;
        z-index: 1;
        @include respond-to(medium) {
          font-size: clamp(32px, 5.7vw, 48px);
          margin-bottom: 32px;
        }
        @include respond-to(small) {
          font-size: 22px;
        }
    }
    h1{
        font-size: clamp(96px, 4vw, 128px);
        margin-bottom: 40px;
        margin-top: 0px;
        z-index: 1;
        font-weight: 700;
        @include respond-to(medium) {
          font-size: clamp(40px, 9vw, 64px);
          margin-bottom: 32px;
        }
        @include respond-to(small) {
          font-size: 36px;
          margin-bottom: 32px;
        }
    }

    .buttonContainer{
        z-index: 1;
        @include respond-to(small) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    }

// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

$colors: (
  fill: #3dcfb6,
);


@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #3dcfb6;
  }
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #FFFFFF;
    cursor: pointer;
  }
}


body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 1.6em;
  cursor: pointer;
  border-radius: 100px;
  font-size: 18px;
  @include respond-to(small) {
    padding:13px 24px 13px 24px;
    border: 1px solid white;
    color: white;
    font-weight: 300;
  }
}
}



.hero-bottom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 96px;
    left: 96px;
    @include respond-to(medium) {
      right: 32px;
      left: 32px;
    }
    @include respond-to(small) {
      right: 4px;
      left: 16px;
    }


    .left-string-container{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        bottom: 0;
        gap: 24px;
        
        .colored-string{
            width: 1px;
            height: 24vh;
            background-color: #3dcfb6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .right-string-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 24px;
        width: 48px;
        height: 70vh;


        .white-string {
            width: 1px;
            height: 20vh;
            background-color: white;
        }

        .hero-icon{
            &:hover {
                filter: brightness(10);
                cursor: pointer;
            }
        }

        .heroEmail{
            width: fit-content;
            transform: translateY(-550%) rotate(-90deg);
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
            font-weight: 400;
            transition: color 0.125s ease-in-out;

            @include respond-to(small) {
              display: none;
            }

            &:hover{
            color: #b5fff3;
            }
        }

        .heroEmailSVG{
          width: fit-content;
          text-decoration: none;
          transition: filter 0.125s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: opacity 0.125 ease-in-out;      

          span{
            font-size: 32px;
            position: absolute;
            right: -12px;
            bottom: -2px;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            transition: opacity 0.125 ease-in-out;      
          }
          
          @include respond-to(large) {
            display: none;
          }
          @include respond-to(small) {
            display: block;
          }

          &:hover{
            filter: brightness(10);
            span{
              opacity: 1;
              visibility: visible;
              color: #3CDFB6;
            }    
          }
        }
    }

    .arrowContainer{
        border: 1px solid #3dcfb6;
        border-radius: 100px;
        height: 64px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(small) {
          height: 48px;
          width: 24px;      
        }
        .arrow {
            animation: up-and-down-slide 1.25s ease-in-out infinite;
            width: 16px;
            height: auto;
            filter: brightness(10);
        }
    }

}

.iconAnker{
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to(small) {
    width: 26px;
    height: 26px;
  }

  span{
    font-size: 32px;
    position: absolute;
    margin-left: 56px;
    margin-bottom: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.125 ease-in-out;
    @include respond-to(small) {
      margin-left: 42px;
      margin-bottom: 4px;
    }
  }

  &:hover{
    span{
      opacity: 1;
      visibility: visible;
      position: absolute;
      color: #3CDFB6;
    }    
  }
}


.sliderContainer{
    color: #3dcfb6;
    width: 100vw;
    height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.201);
    transform: rotate(-3deg);
    gap: 48px;
    white-space: nowrap;
    position: absolute;
    bottom: 4vh;
    left: -18px;
    right: 0;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 3px -8px;

    .marqueeText {
      display: flex;
      position: relative;
      gap: 40px;
      white-space: nowrap;
      box-sizing: border-box;

      font-size: 32px;
      font-weight: 400;
      @include respond-to(small) {
        font-size: 24px;
      }
  }
}

.animation-en {
  animation: infinite-loop 14s infinite linear;
  @include respond-to(small) {
    animation: none;
    animation: infinite-loop 13s infinite linear;
  }
}

.animation-de {
  animation: infinite-loop-de 15.6s infinite linear;
  @include respond-to(small) {
    animation: none;
    animation: infinite-loop-de 14.6s infinite linear;
  }
}



@keyframes infinite-loop {
  from {
    transform: translateX(2.7%);
 }
  to {
      transform: translateX(-100%);
  }
}
  
@keyframes infinite-loop-de {

  from {
    transform: translateX(2%);
 }

  to {
      transform: translateX(-100%);
  }
}
  
@keyframes up-and-down-slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

