<app-modal></app-modal>
<app-cursor-effekt></app-cursor-effekt>
<app-header></app-header>
<app-hero></app-hero>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-projects (openModalEvent)="openModal()"></app-projects> 
<app-testimonials></app-testimonials>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
<router-outlet><router-outlet/>






  <!-- // [ngClass]="{ 'visible': isVisible }" [@fadeAnimation]="isVisible ? 'visible' : 'void'"
  //   (click)="toggleGreyBackground()" -->








