$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
  $max-width: map-get($breakpoints, $breakpoint);

  @if $max-width {
    @media (max-width: $max-width) {
      @content; 
    }
  }
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 144px 112px 144px 112px;
    box-sizing: border-box;
    top: 50vh;
    transform: translateY(-50%);
    white-space: nowrap;
    @include respond-to(large) {
        padding: 144px 64px 144px 64px;
      }
    @include respond-to(medium) {
        padding: 100px 32px 100px 32px;
      }
    @include respond-to(small) {
        padding: 100px 16px 100px 16px;
    }
}

a{
    text-decoration: none;
    color: #3dcfb6;
    &:hover{
        color: #FFFFFF;
    }
}

h1{
    font-family: 'Fira Code';
    font-size: clamp(24px, 4.2vw, 3.2rem);
    font-weight: 700;
    color: #3dcfb6;
}

h2{
    font-family: 'Fira Code';
    font-size: clamp(20px, 2.6vw, 2.2rem);
    font-weight: 700;
    color: #3dcfb6;
}