$breakpoints: (
  small: 600px,
  smallMedium: 1000px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

    @if $max-width {
      @media (max-width: $max-width) {
        @content; // Die Inhalte, die in das Mixin übergeben werden
      }
    }
}

@mixin respond-to-maxHeight($breakpoint) {
    $max-height: map-get($breakpoints, $breakpoint); 

    @if $max-height {
      @media (max-height: $max-height) {
        @content; 
      }
    }
}

.grey-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    transition: z-index 500ms ease-in-out; 
}

.popup {
    position: fixed;
    z-index: 5;
  }



// Project Popup
.project-popup-window{
    position: fixed;
    display: flex;
    border-radius: 50px;
    border: 1px solid #3dcfb6;
    width: 85vmax;
    height: 85vh;
    background: linear-gradient(38deg, rgb(27, 27, 27) 33%, rgb(8, 70, 59) 110%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 80px;
    box-sizing: border-box;
    max-width: 1450px;
    max-height: 800px;
    @include respond-to(large) {
        padding: 75px 40px 95px 40px;
        flex-direction: column;
        height: 90vh;
        width: 90vw;
        border-radius: 20px;
    }
    @include respond-to(medium) {
        padding: 75px 40px 75px 40px;
        flex-direction: column;
        height: 90vh;
        width: 95vw;
        border-radius: 20px;
    }
    @include respond-to(small) {
        padding: 65px 12px 65px 12px;
        width: 95vw;
        justify-content: space-between;
    }

}

.project-content{
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
    @include respond-to(large) {
        gap: 24px;
        justify-content: space-between;
        align-items: center;
    }
    @include respond-to(medium) {
        flex-direction: column-reverse;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        height: 100%;

    }
    @include respond-to(small) {
        height: 100%;
    }

}



.project-number{
    font-size: 8rem;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: 700;
    color: #3dcfb6;
    line-height: 1;
    @include respond-to(medium) {
        flex-direction: column-reverse;
        font-size: 40px;
    }
    @include respond-to(small) {
        font-size: 24px;
        @include respond-to-maxHeight('smallMedium') {
            display: none;
        }
    }
}

.title{
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0px;
    @include respond-to(medium) {
        flex-direction: column-reverse;
        font-size: 38px;
    }
    @include respond-to(small) {
        flex-direction: column-reverse;
        font-size: 32px;
    }
}

.subtitle{
    color: #3dcfb6;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-family: 'Fira Code';
    margin: 0px;
    @include respond-to(medium) {
        font-size: 20px;
    }
}

.description {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px;
    @include respond-to(medium) {
        font-size: 18px;
    }
    @include respond-to(medium) {
        font-size: 16px;
    }
}

.right-side{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    min-width: 50%;
    @include respond-to(medium) {
        width: 100%;
    }
}

.project-img{
    display: flex;
    justify-content: center;
    width: auto;
    height: fit-content;
    border-radius: 30px;
    object-fit: cover;
    object-position: left;
    max-width: 500px;

    @include respond-to(large) {
        max-width: 500px;
    }
    @include respond-to(medium) {
        max-width: 400px;
        width: 60%;
    }
    @include respond-to(small) {
        max-width: 280px;
        width: auto;
        @include respond-to('smallMedium') {
            max-height: 200px;
        }
    }
}

.left-side{
    width: 100%;
    position: relative;
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    @include respond-to(medium) {
        flex: none;
        height: auto;
        justify-content: unset;
    }
}

.gap-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    @include respond-to(medium) {
        gap: 12px;
    }
    @include respond-to(small) {
        gap: 8px;
    }
}



.closeX-container{
    position: absolute;

    top: 32px;
    right: 32px;
    transition: transform 0.075s ease-in-out, filter 0.075s ease-in-out;
    &:hover{
        filter: brightness(0) saturate(100%) invert(74%) sepia(9%) saturate(3080%) hue-rotate(118deg)  contrast(71%);
        transform: scale(1.4);
        cursor: pointer;
    }
    @include respond-to(medium) {
        right: 24px;
        top: 24px;
    }
}


.nextProjectButton{
    border: 0px;
    background-color: transparent;
    color: #3dcfb6;
    font-size: 1.2rem;
    transition: color 0.1s ease-in-out, ;
    font-weight: 300;
    font-family: 'Karla';
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 32px;
    right: 32px;

    .nextButtonSVG{
        transition: transform 0.125s ease-in-out, filter 0.1s ease-in-out;
    }

    &:hover{
        color: white;
        cursor: pointer;

        svg{
            transform: translateX(50%);
            filter: brightness(5);
        }
    }
    @include respond-to(medium) {
        bottom: 24px;
        right: 16px;
    }
    @include respond-to(small) {
        font-size: 16px;
    }
}

.link{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.2rem;
    transition: color 0.1s ease-in-out, ;
    font-weight: 300;
    font-family: 'Karla';
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 16px 24px 16px 24px;
    text-decoration: none;
    width: fit-content;
    box-sizing: border-box;
    white-space: nowrap;
    

    .ankerSVG{
        transition: transform 0.125s ease-in-out;
    }

    &:hover{
        color: #3dcfb6;
        border: 1px solid #3dcfb6;
        cursor: pointer;

        svg{
            animation: moveInArc 0.125s ease-in-out forwards;
        }
    }
    &:not(:hover) .ankerSVG {
        animation: moveOutArc 0.125s ease-in-out forwards; /* Zurück zur Ausgangsposition */
    }

    @include respond-to(medium) {
        padding: 13px 24px 13px 24px;
    }
    @include respond-to(small) {
        font-size: 16px;
    }
}

@keyframes moveInArc {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(40%); /* Bewegt sich nach rechts */
    }
    100% {
        transform: translateX(40%) translateY(-25%); /* Bewegt sich nach oben */
    }
}

@keyframes moveOutArc {
    0% {
        transform: translateX(40%) translateY(-25%);
    }
    50% {
        transform: translateX(40%) translateY(0%); /* Bewegt sich nach rechts */
    }
    100% {
        transform: translateX(0%) translateY(0%); /* Bewegt sich nach oben */
    }
}

.link-container{
    display: flex;
    gap: 2vw;
    @include respond-to(small) {
        gap: 16px
    }
}

.technology-list {
    display: flex;
    flex-wrap: wrap; /* Falls es zu viele Technologien gibt, können sie umgebrochen werden */
    gap: 16px; /* Abstand zwischen den einzelnen Technologien */

  }
  
.technology-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Abstand zwischen SVG und Text */
  }
  
.tech-icon {
    width: 24px;
    height: 24px;
  }