$breakpoints: (
  small: 600px,
  medium: 1150px,
  large: 1400px,
  XL: 1660px,
);

@mixin respond-to($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint); // Wert aus der Map abrufen

    @if $max-width {
      @media (max-width: $max-width) {
        @content; // Die Inhalte, die in das Mixin übergeben werden
      }
    }
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 96px 64px 96px;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    position: absolute;
    max-width: 1674px;
    left: 50%;
    transform: translateX(-50%);
    @include respond-to(medium) {
      padding: 0px 64px 25px 64px;
      font-size: 16px;
    }
    @include respond-to(small) {
      padding: 0px 16px 80px 16px;
    }
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #FFFFFF;
    @include respond-to(small) {
      gap: 4px;
    }

    .logo-name{
        display: flex;
        flex-direction: column;
        transition: color 0.175s ease-in-out, -webkit-text-stroke 0.175s ease-in-out;

        span{
            font-size: 30px;
            letter-spacing: 0px;
            font-weight: 900;
            font-family: 'Fira Code';
            @include respond-to(small) {
              font-size: 20px;
            }
        }
        .surnameSpan{
          margin-top: -12px;
          @include respond-to(small) {
            padding-top: 6px;
          }
        }
    }

    svg {
      transition: fill 0.175s ease-in-out, stroke 0.175s ease-in-out, stroke-width 0.175s ease-in-out;
      @include respond-to(small) {
        width: 40px;
        height: auto;
      }
    }

    &:hover {
      cursor: pointer;

      .logo-name{
        color: transparent; 
        -webkit-text-stroke: 0.6px white;
      }
      svg{
        fill: transparent; 
        stroke: #3CDFB6; 
        stroke-width: 8px; 
      }
    }
}

h4{
  color: #3CDFB6;
  font-family: 'Fira Code';
  font-weight: 400;
  @include respond-to(small) {
    position: absolute;
    bottom: 25px;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

.footer-right-box{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 8px;
  text-align: end;
  align-items: end;
  white-space: nowrap;

    a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.125s ease-in-out;
    display: flex;

    span{
      font-size: 32px;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.125s ease-in-out;
      transform: translate(-190%, -28%);
    }

    &:hover{
      color: #3CDFB6;

      span{
        opacity: 1;
        visibility: visible;
        position: absolute;
        color: #3CDFB6;
      }   
    }
  }
}